.btnHolder{
    position: absolute;
    left: 25%;
    right: 25%;
    width: 50%;
    margin: 1rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    button{
        padding: .5rem 1rem;
        color: black;
        border: none;
    }
}