.searchInput{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    input{
        margin: 1rem 2rem;
        width: 65%;
        height: 45px;
        color: black;
        text-align: center;
        outline: 0;
        @media (min-width: 800px) {
            width: 30%;
            margin: 2rem;
            text-align: center;
        }
    }::placeholder{
        text-align: center;
    }
    button{
        background-color: #eff1f3;
        color: black;
        border: none;
        padding: .5rem 1rem;
        margin: 1re 0rem;
    }
}